<div>
    <h2 id="page-heading">
        <span>Fees</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fee" [routerLink]="['/fee/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Fee
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="fees">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unitPrice"><span>Unit Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span>Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="subTotal"><span>Sub Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="taxTotal"><span>Tax Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="taxPercentage"><span>Tax Percentage</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span>Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedDate"><span>Updated Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span>Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedBy"><span>Updated By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="internalNotes"><span>Internal Notes</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="appearanceOrder"><span>Appearance Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="costId"><span>Cost Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="invoiceId"><span>Invoice</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fee of fees ;trackBy: trackId">
                <td><a [routerLink]="['/fee', fee.id, 'view' ]">{{fee.id}}</a></td>
                <td>{{fee.unitPrice}}</td>
                <td>{{fee.quantity}}</td>
                <td>{{fee.subTotal}}</td>
                <td>{{fee.taxTotal}}</td>
                <td>{{fee.taxPercentage}}</td>
                <td>{{fee.description}}</td>
                <td>{{fee.createdDate | date:'mediumDate'}}</td>
                <td>{{fee.updatedDate | date:'mediumDate'}}</td>
                <td>{{fee.createdBy}}</td>
                <td>{{fee.updatedBy}}</td>
                <td>{{fee.internalNotes}}</td>
                <td>{{fee.appearanceOrder}}</td>
                <td>{{fee.costId}}</td>
                <td>
                    <div *ngIf="fee.invoiceId">
                        <a [routerLink]="['../invoice', fee.invoiceId , 'view' ]" >{{fee.invoiceId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/fee', fee.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fee', fee.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'fee', { outlets: { popup: fee.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="fees && fees.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
